@model BookSite.Models.SiteModels.Book

@{
    ViewBag.Title = "Add Book";
}

<h2>Add A Book To Your Shelf</h2>

@Html.Partial("BookDetails",Model)
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.GoogleVolumeId)
    <input type="submit" class="btn btn-success" value="Confirm"/>
}