@model IEnumerable<BookSite.Models.SiteModels.Member>

@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>
<table class="table">
    <tr>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th class="col-md-7"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
