body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#666633;
}
a {
    color:aliceblue;
}
label{
    color:aliceblue;
}
h2,h3,h4,h5{
    color:aliceblue;
}
.navbar-inverse {
    background-color: #3e4d00;
}
    .navbar-inverse .navbar-brand {
        color: aliceblue;
    }
.nav-link{
    color:aliceblue;
}
.navbar-inverse .navbar-nav > li > a {
    color: aliceblue;
}
td, th{
    color:aliceblue;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #3e4d00;
}
dt, dd{
    color:aliceblue;
}
button{
    color:aliceblue;
    background-color: darkcyan;
}
.container .jumbotron{
    border-radius:0;
}
select{
    color:black;
}
option{
    color: black;
}
select label{
    color:black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}


footer {
    position: relative;
    bottom: 0px;
    color:aliceblue;
}
