@model BookSite.Models.SiteModels.Book
@{
    ViewBag.Title = "ChooseNewBook";
}

<h2>ChooseNewBook</h2>
@*User RenderAction on a search partial view to find a list of books with a button to select it.*@


