@model BookSite.Models.SiteModels.BookClub
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Edit Club", "Edit", "Club")
@Html.ActionLink("Choose Next Book", "NewBookSearch", "Club",new { clubId = Model.Id},new { @class = "btn btn-primary"})