@model BookSite.Models.MiscModels.SimpleTextSearch

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-inline">
    <h4>Book Club Search</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <h5>Search for Book Clubs by their name or their description.</h5>
        <div class="col-md-10">
            <div class="form-group" style="width:100%">
                @Html.EditorFor(model => model.Input, new { htmlAttributes = new { @class = "form-control", style = "max-width:none; width:100%" } })
                @Html.ValidationMessageFor(model => model.Input, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
    }
