@{
    ViewBag.Title = "BookSite";
}
        <div class="jumbotron">
            <h1>BookSite</h1>
            <p>A site for books.</p>
            @Html.ActionLink("Get Started", "Register", "Account", null, new { @class = "btn btn-success"})
        </div>
<style>
    .body-content .container{
        margin:0px;
        padding:0;
        width:100%;
    }
    .body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
    width:100%;
}
    .jumbotron{
        width: 100%;
        padding:15px;
        margin:0%;
    }
</style>